# vim stuff
**/*.swp
**/*~

# http://www.gnu.org/software/automake

**/makefile
**/makefile.in

/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

/build-aux

# http://www.gnu.org/software/autoconf

/m4
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h*
/config.log

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex
